<ion-footer class="footer">
  <ion-grid class="custom-grid">
    <ion-row>
      <ion-col size="12">
        <div class="divider"></div>
      </ion-col>
    </ion-row>

    <ion-row class="footer-gap">
      <ion-col size="12" size-md="6">
        <div class="home-footer-links">
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Cookies Settings</a></li>
          </ul>
        </div>
      </ion-col>

      <ion-col size="12" size-md="6" class="copyright">
        <div>© 2023 MyEdu. All rights reserved.</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<!-- Todo: align this vertically for mobile -->
<!-- <ion-footer class="subscribe-footer">
  <ion-grid class="custom-grid">
    <ion-row class="footer-row">
      <ion-col size="4" size-md="4" class="logo-col">
        <img src="assets/logo-dark.png" alt="Logo" class="logo" />
      </ion-col>

      <ion-col size="4" size-md="4">
        <div class="subscription-footer-links">
          <ul>
            <li><a href="#">Overview</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </div>
      </ion-col>

      <ion-col size="4" size-md="4" class="copyright">
        <div>© 2077 MyEdu</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->
